nav{
    background-color: #AF1740;
    border-radius: 5px;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DE7C7D;
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    background-color: #AF1740;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    margin-top: 20px;
}

button:hover {
    background-color: #CC2B52;
}

h1 {
    color: #740938;
}
